includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: max

	bootstrapFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php

	paths:
		- src/
		- templates/
		- uninstall.php
		- wp-openapi-generator.php
